.post-img img {
  width: 100%;
}
.post-img {
  height: 405px;
  overflow: hidden;
  margin-top: 0px;
}
.blogpost-meta {
  display: flex;
  justify-content: space-between;
}
.item {
  justify-content: center;
  font-size: 17px;
 
}
.author-info div {
  font-family: var(--font2);
}
.author-info {
  margin: 12px;
}
.set{
    justify-content: center;
    align-items: center;
    margin:0px 350px;
}
.author-social img{
 width:35px;
 height:35px;
 cursor:pointer;
}
.author-social{
 margin:0px 30px;
}

